@use 'reset';
@use 'variables';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-yellow);
}

.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card {
  width: 24rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px var(--color-black);

  .card-header {
    img {
      height: 12.5rem;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem 0rem;

    p {
      font-size: 0.875rem;
      font-weight: 500;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 800;
      cursor: pointer;
    }

    h1:hover {
      color: var(--color-yellow);
    }

    .card-category {
      width: fit-content;
      padding: 0.25rem 0.75rem;
      background-color: var(--color-yellow);
      font-size: 0.875rem;
      font-weight: 800;
      border-radius: 4px;
    }

    .card-description {
      color: var(--color-gray-500);
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    img {
      height: 2rem;
    }

    p {
      font-size: 0.875rem;
      font-weight: 800;
    }
  }

  @media (max-width: 23.4375rem) {
    width: 20.4375rem;

    .card-content{
      p,
      .card-category {
        font-size: 0.75rem;
      }

      h1 {
        font-size: 1.25rem;
      }

      .card-description {
        font-size: 0.875rem;
      }
    }
  }
}

.attribution {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0rem;
  font-size: 0.75rem;
  font-weight: 500;

  a {
    font-weight: bold;
  }

  .bullet {
    height: 0.25rem;
    width: 0.25rem;
    background-color: var(--color-gray-950);
    border-radius: 50%;
  }

  @media (max-width: 23.5375rem) {
    flex-direction: column;

    .bullet {
      display: none;
    }
  }
}